%% vim: ft=erlang
{erl_opts,
 [
	debug_info,
	fail_on_warning,
	{parse_transform, lager_transform}
]}.

{deps_dir, "lib"}.

{deps, [
		{typextfun,
			".*",
			{git, "git@github.com:koctep/typextfun.git", "HEAD"}},

		{jet,
			".*",
			{git, "git@github.com:koctep/jet.git", "HEAD"}},
			
		{lager,
			".*",
			{git, "git://github.com/basho/lager.git", "HEAD"}},

		{sync,
			".*",
			{git, "git://github.com/rustyio/sync.git", "HEAD"}}
]}.
